.timeline-step-block {
  position: relative;

  display: flex;
  min-height: 60vh;
  margin-top: -1px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 991px) {
  .timeline-step-block {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .timeline-step-block {
    min-height: 110vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .timeline-step-block {
    position: relative;

    display: flex;
    overflow: hidden;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
}

.timeline-scroll-wrapper {
  position: absolute;
  left: 45%;
  top: auto;
  bottom: auto;

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .timeline-scroll-wrapper {
    left: auto;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .timeline-scroll-wrapper {
    left: 0px;
    right: 0px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
  }
}

.timeine_scroll-animate {
  position: absolute;
  top: 0%;
  bottom: 0%;

  width: 6px;
  height: 100%;
  align-self: flex-end;

  background-color: var(--_apps---colors--secondary-foreground);

  transform-origin: 50% 0%;
}

@media screen and (max-width: 479px) {
  .timeine_scroll-animate {
    align-self: center;
  }
}

.timeline-scroll-base {
  width: 6px;
  height: 100%;
  background-color: #eeeff4;
  transform-origin: 50% 0%;
}

@media screen and (max-width: 991px) {
  .timeline-scroll-base {
    position: absolute;
    left: auto;
    top: 0px;
    bottom: 0px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .timeline-scroll-base {
    align-self: center;
  }
}

.timeline_image-wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  aspect-ratio: auto;

  border-radius: 6px;

  filter: grayscale(100%);

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .timeline_image-wrapper {
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .timeline_image-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .timeline_image-wrapper {
    display: flex;
    max-width: 300px;
  }
}

.timeline_image {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: stretch;
  grid-column-gap: 35px;
  grid-row-gap: 35px;

  border-radius: 6px;

  filter: grayscale(100%);

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .timeline_image {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .timeline_image.rotate_-4-5deg {
    position: relative;
    z-index: 10;
    width: 350px;
  }
}

@media screen and (max-width: 479px) {
  .timeline_image.rotate_-4-5deg {
    width: 250px;
  }
}

.rotate_-4-5deg {
  transform: rotate(-4.5deg);
}

@media screen and (max-width: 767px) {
  .timeline_image.rotate-pos-12 {
    position: relative;
    z-index: 10;
    width: 350px;
  }
}

@media screen and (max-width: 479px) {
  .timeline_image.rotate-pos-12 {
    width: 250px;
  }
}

.rotate-pos-12 {
  width: 100%;
  margin-top: 40px;
  filter: grayscale(100%);
  transform: translate(0px, 0px) rotate(12deg);
  transition: opacity 200ms ease;
}

.timeline_image.is-hidden {
  display: block;
  height: 100%;
}

.timeline_container {
  display: flex;
  width: auto;
  margin-left: 6rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .timeline_container {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-self: stretch;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .timeline_container {
    margin-top: 4rem;
    margin-left: 0rem;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .timeline_container {
    overflow: hidden;
    width: 100%;
    margin-left: 0px;
  }
}

.timeline_marker-item {
  position: relative;
  z-index: 3;

  display: flex;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-bottom: -6px;
  justify-content: flex-start;
  align-items: center;

  border-radius: 50%;

  background-color: var(--_apps---charts--chart-5);
}

@media screen and (max-width: 991px) {
  .timeline_marker-item {
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .timeline_marker-item {
    align-self: center;
  }
}

.timeline_card {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex: 0 auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .timeline_card {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  .timeline_card {
    overflow: hidden;
    width: 100%;
  }
}

.timeline_conent-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  padding-top: 12%;
  padding-right: 12%;
  padding-bottom: 12%;
  padding-left: 12%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-self: stretch;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  background-color: inherit;
}

@media screen and (max-width: 991px) {
  .timeline_conent-wrapper {
    width: auto;
    max-width: none;
    padding: 6%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .timeline_conent-wrapper {
    padding: 8%;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .timeline_conent-wrapper {
    width: 80%;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
}

.timeline_content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  font-size: 24px;
  line-height: 1;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .timeline_content-wrapper {
    align-self: stretch;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}

@media screen and (max-width: 479px) {
  .timeline_content-wrapper {
    justify-content: center;
    align-items: flex-start;
  }
}

.timeline_date {
  margin-bottom: 20px;

  color: var(--_apps---colors--primary);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.timeline_eyebrow {
  margin-top: 0px;
  margin-bottom: 0em;
  font-family: var(--_typography---font--heading-font);
  color: var(--text-tertiary);
}

.timeline_heading {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  font-family: var(--_typography---font--heading-font);
  color: var(--text-tertiary);
  font-size: var(--_typography---h2-heading--h2-size);
  line-height: 1;
  text-transform: lowercase;
}

.timeline_paragraph {
  margin-bottom: var(--_typography---base-typography--base-margin-bottom);
  color: var(--_colors---text-color--text-dark);
  font-size: 1.15rem;
  font-weight: 300;
  text-transform: none;
}

.timeline_bg-shadow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  align-self: stretch;
  flex: 0 auto;

  border-radius: 16px;

  box-shadow: 7px 7px 20px 0 hsla(0, 0.00%, 7.06%, 0.07);
}

@media screen and (max-width: 991px) {
  .timeline_bg-shadow {
    left: auto;
    right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .timeline_bg-shadow {
    left: 0px;
    right: 0px;
    width: 80%;
  }
}