.component_section-guestbook-form {
  align-self: stretch;
  color: var(--_colors---core-accent-color--accent-tertiary);
}

@media screen and (min-width: 1280px) {
  .guestbook_form-padding {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .guestbook_form-padding {
    padding: 2rem 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .guestbook_form-padding {
    padding: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .guestbook_form-padding {
    padding: 2rem 1.5rem;
  }
}

.guestbook_inner-form-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.guestbook_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.guestbook_form-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: stretch;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.form_component {
  margin-bottom: 0rem;
}

.form_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.form_message-success {
  padding: 0.5rem 0.625rem;

  border-radius: 0.5rem;

  background-color: rgba(0, 153, 14, 0.22);

  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  letter-spacing: -0.006em;
}

.form_message-error {
  margin-top: 0.75rem;
  padding: 0.5rem 0.625rem;

  border-radius: 0.5rem;

  background-color: rgba(255, 15, 0, 0.21);

  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.006em;
}

#w-node-_3065a81f-17d8-4664-b498-e76322a00682-22a0067e {
}