.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
}

.gap-xsmall {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: var(--_sizes---gap--xxs-gap);
  grid-row-gap: var(--_sizes---gap--xxs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--_sizes---gap--xxs-gap);
  grid-row-gap: var(--_sizes---gap--xxs-gap);
}

.flex_vertical.gap-large {
  grid-column-gap: var(--_sizes---gap--lg-gap);
  grid-row-gap: var(--_sizes---gap--lg-gap);
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: var(--_sizes---spacing--2x);
    grid-row-gap: var(--_sizes---spacing--2x);
  }
}

.gap-large {
  grid-column-gap: var(--_sizes---gap--lg-gap);
  grid-row-gap: var(--_sizes---gap--lg-gap);
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.gap-medium {
  padding-left: 4rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--_sizes---gap--md-gap);
  grid-row-gap: var(--_sizes---gap--md-gap);
}

.gap-medium {
  grid-column-gap: var(--_sizes---gap--md-gap);
  grid-row-gap: var(--_sizes---gap--md-gap);
}

.flex_vertical.gap-small {
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
}

.gap-small {
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
}

.flex_vertical.is-y-center {
  justify-content: center;
  align-items: stretch;
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: var(--_sizes---gap--xl-gap);
  grid-row-gap: var(--_sizes---gap--xl-gap);
}

.gap-xlarge {
  grid-column-gap: var(--_sizes---gap--xl-gap);
  grid-row-gap: var(--_sizes---gap--xl-gap);
}

.flex-child_expand {
  flex: 1;
}

.gap-xxlarge {
  grid-column-gap: var(--_sizes---gap--xxl-gap);
  grid-row-gap: var(--_sizes---gap--xxl-gap);
}

.flex_vertical.flex-align_center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 479px) {
  .flex_vertical.flex-align_center {
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.flex-align_center {
  align-self: center;
}

.flex_vertical.gap-small-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.gap-small-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.flex_vertical.gap-medium-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gap-medium-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-xlarge-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.gap-xlarge-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.flex_vertical.gap-large-2 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large-2 {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large-2 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.gap-large-2 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_vertical.gap-xxsmall-2 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-2 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-xsmall-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gap-xsmall-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_vertical.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-large-3 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large-3 {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large-3 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.gap-large-3 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_vertical.gap-xxsmall-3 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-3 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex_vertical.gap-xxsmall-4 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-4 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.guestbook_names-heading {
  margin-bottom: 1rem;

  font-family: 'Noto Serif Display';
  color: var(--_colors---core-accent-color--accent-tertiary);
  font-size: 4rem;
  line-height: var(--_typography---h1-heading--h1-line-height);
  font-weight: var(--_typography---h1-heading--h1-weight);
  text-align: left;
  letter-spacing: var(--_typography---h1-heading--h1-letter-spacing);
  text-transform: lowercase;

  text-wrap: balance;
}

@media screen and (min-width: 1280px) {
  .guestbook_names-heading {
    margin-bottom: 1rem;
    align-self: center;
    color: var(--_colors---core-accent-color--accent-tertiary);
  }
}

@media screen and (max-width: 767px) {
  .guestbook_names-heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .guestbook_names-heading {
    clear: none;
    align-self: stretch;
    font-size: 3.5rem;
    text-align: center;
    white-space: pre-wrap;
  }
}

.flex_horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .flex_horizontal {
    align-self: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.guestbook_names-heading.flex_horizontal.flex-align_center {
  justify-content: center;
  align-items: center;
}

.guestbook_names-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall {
  margin-bottom: 1rem;
}

.margin-bottom_xsmall {
  margin-bottom: var(--_sizes---spacing--1x);
}

.guestbook_names-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color_accent-secondary {
  color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.text-color_accent-secondary {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.guestbook_names-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-green {
  color: var(--_colors---core-neutral-color--neutral-inverse);
}

.text-color-green {
  color: #0097b2;
}

.guestbook_names-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-dark-green {
  color: var(--_colors---core-accent-color--accent-tertiary);
  font-style: italic;
}

.text-color-dark-green {
  color: #29708d;
}

.guestbook_names-text {
  display: block;
  max-width: 650px;
  padding-right: 2rem;
  padding-left: 2rem;
  align-self: center;

  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .guestbook_names-text {
    display: flex;
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 479px) {
  .guestbook_names-text {
    width: auto;
  }
}