.component_guestbook {
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.guestbook_form-wrapper {
  display: grid;
  overflow: hidden;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: minmax(auto, 25rem) minmax(auto, 30rem);
  grid-template-rows: auto;
}

@media screen and (min-width: 1280px) {
  .guestbook_form-wrapper {
    grid-template-columns: minmax(auto, 40rem) minmax(auto, 60rem);
  }
}

@media screen and (max-width: 991px) {
  .guestbook_form-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .guestbook_form-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
    grid-template-columns: 0.5fr;
  }
}

@media screen and (max-width: 479px) {
  .guestbook_form-wrapper {
    overflow: hidden;
    padding-right: 0rem;
    padding-left: 0rem;
    grid-template-columns: auto;
  }
}

.section_guestbook-content {
  display: flex;
  padding-right: 2rem;
  padding-bottom: 4rem;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (min-width: 1280px) {
  .section_guestbook-content {
    max-width: 80rem;
  }
}

@media screen and (max-width: 991px) {
  .section_guestbook-content {
    padding-left: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .section_guestbook-content {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.section_guestbook-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--_colors---core-accent-color--accent-tertiary);
}

@media screen and (min-width: 1280px) {
  .section_guestbook-form {
    max-width: 80rem;
  }
}

.guestbook_form-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.guestbook-cards-section {
  margin-top: 6rem;
}

@media screen and (max-width: 991px) {
  .guestbook-cards-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.guestbook_names-section {
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .guestbook_names-section {
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .guestbook_names-section {
    overflow: hidden;
  }
}

.filter-bar_padding {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.component_filter-tags {
  display: block;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
}

.guestbook_card-container {
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .guestbook_card-container {
    display: grid;
    justify-items: center;
    align-self: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
  .guestbook_card-container {
    overflow: hidden;
    grid-template-columns: 1fr;
  }
}

#w-node-_979f49be-b8d8-5dd3-3701-ee2451751161-5175115e {
  align-self: stretch;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_979f49be-b8d8-5dd3-3701-ee2451751164-5175115e {
}
#w-node-_979f49be-b8d8-5dd3-3701-ee245175116e-5175115e {
}
@media screen and (min-width: 1280px) {
  #w-node-_979f49be-b8d8-5dd3-3701-ee2451751164-5175115e {
  }
}
@media screen and (max-width: 479px) {
  #w-node-_979f49be-b8d8-5dd3-3701-ee2451751161-5175115e {
    justify-self: stretch;
  }
}