.component-guestbook-card {
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  max-height: 375px;
  max-width: 375px;
  min-height: 300px;
  min-width: 300px;
  margin: 5px;
  justify-content: center;
  align-items: center;

  border: 1px none transparent;
  border-radius: 10px;
}

.component-guestbook-card:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.component-guestbook-card:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.component-guestbook-card:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  border-radius: 10px;
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.component-guestbook-card:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.component-guestbook-card.tertiary-accent {
  position: relative;
  overflow: hidden;
  height: 375px;
  border: 4px none var(--_colors---core-accent-color--accent-primary);
  background-color: var(--_colors---core-neutral-color--neutral-primary);
}

.component-guestbook-card.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
  align-self: center;
  border-color: var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-accent-color--accent-tertiary);
}

@media screen and (max-width: 991px) {
  .component-guestbook-card.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component-guestbook-card.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component-guestbook-card.tertiary-accent:where(.w-variant-f870ba70-a76c-b3e4-5bee-5dfd8572c825) {
    max-height: 375px;
    min-height: 320px;
  }
}

.component-guestbook-card.tertiary-accent.tertiary {
  border-color: #29708d;
  color: #29708d;
}

#w-node-_73eb0ae7-e9bf-61cd-60e7-10fbd84d8db9-d84d8db9 {
}