.component-memory-wall {
  z-index: 2;

  display: flex;
  overflow: clip;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: auto;
  min-width: auto;
  justify-content: space-between;
  align-items: stretch;

  border-radius: 10px;

  background-color: var(--_colors---core-accent-color--accent-primary);

  object-fit: cover;
}

.component-memory-wall:where(.w-variant-bc1388a3-2956-51d3-5b2a-cd6ec82a62f2) {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.component-memory-wall:where(.w-variant-f1fd8323-66ff-43cd-c923-7635f0fb3d8b) {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.component-memory-wall:where(.w-variant-c43689d3-b135-cd15-efed-45db3731f586) {
  border-radius: 10px;
  background-color: var(--_colors---core-accent-color--accent-tertiary-hover);
}

.component-memory-wall:where(.w-variant-5895fbf3-61ee-25b0-ef66-5700a0890057) {
  width: 100%;
  height: 100%;
  background-color: var(--_colors---core-accent-color--accent-secondary-hover);
}

@media screen and (max-width: 991px) {
  .component-memory-wall {
    overflow: hidden;
    max-width: 750%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .component-memory-wall {
    max-width: 550%;
  }
}

@media screen and (max-width: 479px) {
  .component-memory-wall {
    overflow: hidden;
    max-width: 300%;
    min-width: 300px;
  }
}

.component-memory-wall.tertiary-accent {
  position: relative;
  overflow: hidden;
  height: 375px;
  border: 4px none var(--_colors---core-accent-color--accent-primary);
  background-color: var(--_colors---core-neutral-color--neutral-primary);
}

.component-memory-wall.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
  align-self: center;
  border-color: var(--_colors---core-accent-color--accent-tertiary);
  color: var(--_colors---core-accent-color--accent-tertiary);
}

@media screen and (max-width: 991px) {
  .component-memory-wall.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component-memory-wall.tertiary-accent:where(.w-variant-acd405c7-f8cf-c479-8d20-4182289c84fc) {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .component-memory-wall.tertiary-accent:where(.w-variant-f870ba70-a76c-b3e4-5bee-5dfd8572c825) {
    max-height: 375px;
    min-height: 320px;
  }
}

.component-memory-wall.tertiary-accent.tertiary {
  border-color: #29708d;
  color: #29708d;
}

.component-memory-wall.tertiary-accent-23 {
  border-radius: 10px;
  background-color: #0097b2;
}

.component-memory-wall.secondary-accet {
  background-color: #c47577;
}

.component-memory-wall.secondary {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #7b3a33;
}

.component-memory-wall.tertiary-23 {
  background-color: #29708d;
}

#w-node-_73eb0ae7-e9bf-61cd-60e7-10fbd84d8db9-d84d8db9 {
}