.memory-journal_cards-section {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .memory-journal_cards-section {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.memory-wall {
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .memory-wall {
    max-width: 700px;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall {
    max-width: 500px;
  }
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
}

.gap-xsmall {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: var(--_sizes---gap--xxs-gap);
  grid-row-gap: var(--_sizes---gap--xxs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--_sizes---gap--xxs-gap);
  grid-row-gap: var(--_sizes---gap--xxs-gap);
}

.flex_vertical.gap-large {
  grid-column-gap: var(--_sizes---gap--lg-gap);
  grid-row-gap: var(--_sizes---gap--lg-gap);
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: var(--_sizes---spacing--2x);
    grid-row-gap: var(--_sizes---spacing--2x);
  }
}

.gap-large {
  grid-column-gap: var(--_sizes---gap--lg-gap);
  grid-row-gap: var(--_sizes---gap--lg-gap);
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.gap-medium {
  padding-left: 4rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--_sizes---gap--md-gap);
  grid-row-gap: var(--_sizes---gap--md-gap);
}

.gap-medium {
  grid-column-gap: var(--_sizes---gap--md-gap);
  grid-row-gap: var(--_sizes---gap--md-gap);
}

.flex_vertical.gap-small {
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
}

.gap-small {
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
}

.flex_vertical.is-y-center {
  justify-content: center;
  align-items: stretch;
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: var(--_sizes---gap--xl-gap);
  grid-row-gap: var(--_sizes---gap--xl-gap);
}

.gap-xlarge {
  grid-column-gap: var(--_sizes---gap--xl-gap);
  grid-row-gap: var(--_sizes---gap--xl-gap);
}

.flex-child_expand {
  flex: 1;
}

.gap-xxlarge {
  grid-column-gap: var(--_sizes---gap--xxl-gap);
  grid-row-gap: var(--_sizes---gap--xxl-gap);
}

.flex_vertical.flex-align_center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 479px) {
  .flex_vertical.flex-align_center {
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.flex-align_center {
  align-self: center;
}

.flex_vertical.gap-small-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.gap-small-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.flex_vertical.gap-medium-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gap-medium-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-xlarge-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.gap-xlarge-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.flex_vertical.gap-large-2 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large-2 {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large-2 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.gap-large-2 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_vertical.gap-xxsmall-2 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-2 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-xsmall-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gap-xsmall-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_vertical.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-large-3 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large-3 {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large-3 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.gap-large-3 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_vertical.gap-xxsmall-3 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-3 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex_vertical.gap-xxsmall-4 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall-4 {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.memory-wall_heading {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;

  font-family: 'Noto Serif Display';
  color: var(--_colors---core-accent-color--accent-tertiary);
  font-size: 6rem;
  line-height: var(--_typography---h1-heading--h1-line-height);
  font-weight: var(--_typography---h1-heading--h1-weight);
  text-align: left;
  letter-spacing: var(--_typography---h1-heading--h1-letter-spacing);
  text-transform: lowercase;

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .memory-wall_heading {
    align-self: center;
    font-size: 5rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .memory-wall_heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .memory-wall_heading {
    margin-bottom: 20px;
    clear: none;
    font-size: 4rem;
    white-space: pre-wrap;
  }
}

.flex_horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .flex_horizontal {
    align-self: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.memory-wall_heading.flex_horizontal.flex-align_center {
  justify-content: center;
  align-items: center;
}

.memory-wall_heading.flex_horizontal.flex-align_center.margin-bottom_xsmall {
  margin-bottom: 1rem;
}

.margin-bottom_xsmall {
  margin-bottom: var(--_sizes---spacing--1x);
}

.memory-wall_heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color_accent-secondary {
  color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.text-color_accent-secondary {
  color: var(--_colors---core-accent-color--accent-secondary);
}

.memory-wall_heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-green {
  color: var(--_colors---core-neutral-color--neutral-inverse);
}

.text-color-green {
  color: #0097b2;
}

.memory-wall_heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-dark-green {
  color: var(--_colors---core-accent-color--accent-tertiary);
  font-style: italic;
}

@media screen and (max-width: 991px) {
  .memory-wall_heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-dark-green {
    align-self: center;
    text-align: center;
  }
}

.text-color-dark-green {
  color: #29708d;
}

.memory-wall_main-headline-paragraph {
  max-width: 800px;
  margin-bottom: 0.7em;

  color: var(--_colors---text-color--text-dark);
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;

  text-wrap: pretty;
}

@media screen and (max-width: 479px) {
  .memory-wall_main-headline-paragraph {
    font-size: 1rem;
  }
}

.memory-wall_sub-heading {
  margin-bottom: 0em;

  font-family: 'Noto Serif Display';
  color: var(--_colors---core-accent-color--accent-tertiary-hover);
  font-size: 3rem;
  line-height: var(--_typography---h1-heading--h1-line-height);
  font-weight: var(--_typography---h1-heading--h1-weight);
  text-align: left;
  letter-spacing: var(--_typography---h1-heading--h1-letter-spacing);
  text-transform: lowercase;

  text-wrap: balance;
}

@media screen and (max-width: 767px) {
  .memory-wall_sub-heading {
    align-self: center;
    font-size: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .memory-wall_sub-heading {
    clear: none;
    font-size: 3rem;
    white-space: pre-wrap;
  }
}

.memory-wall_sub-heading.flex_horizontal.flex-align_center {
  justify-content: center;
  align-items: center;
}

.memory-wall_sub-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall {
  margin-bottom: 1rem;
}

.memory-wall_sub-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color_accent-secondary {
  color: var(--_colors---core-accent-color--accent-secondary-hover);
}

.memory-wall_sub-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-green {
  color: var(--_colors---core-neutral-color--neutral-inverse);
}

.memory-wall_sub-heading.flex_horizontal.flex-align_center.margin-bottom_xsmall.text-color-dark-green {
  color: var(--_colors---core-accent-color--accent-tertiary);
  font-style: italic;
}

.margin-block_small {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.memory-journal_card-section-padding {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .memory-journal_card-section-padding {
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .memory-journal_card-section-padding {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.memory-journal_inner-form-container-copy {
  display: flex;
  width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 479px) {
  .memory-journal_inner-form-container-copy {
    margin-right: 0.5rem;
    margin-left: 0.35rem;
  }
}

.memory-journal_card-component {
  display: grid;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(325px, auto);
  grid-auto-rows: minmax(325px, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: ". Area-2 ."
  ". Area-2 ."
  "Area Area Area-4"
  ". . Area-4"
  ". Area-3 Area-3";
  grid-template-columns: repeat(auto-fit, minmax(325px, auto)) minmax(325px, auto) minmax(325px, auto);
  grid-template-rows: repeat(auto-fit, minmax(325px, auto)) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto);
}

@media screen and (max-width: 991px) {
  .memory-journal_card-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
    grid-template-areas: ". Area-2"
    ". Area-2"
    "Area Area"
    ". Area-4"
    ". Area-4"
    ". Area-7"
    "Area-5 Area-5"
    "Area-6 Area-6"
    ". ."
    ". ."
    ". .";
    grid-template-columns: repeat(auto-fit, minmax(325px, auto));
    grid-template-rows: repeat(auto-fit, minmax(325px, auto)) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto);
  }
}

@media screen and (max-width: 767px) {
  .memory-journal_card-component {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-template-areas: ". Area-2"
    ". Area-2"
    "Area ."
    ". Area-4"
    ". Area-4"
    ". Area-7"
    "Area-5 ."
    "Area-6 ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
    grid-template-rows: repeat(auto-fit, minmax(325px, auto)) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) minmax(325px, auto) 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  }
}

@media screen and (max-width: 479px) {
  .memory-journal_card-component {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
  }
}

.memory-journal_card-slot {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  column-count: 3;
  column-gap: 1.5rem;
  column-rule-style: none;
}

@media screen and (max-width: 767px) {
  .memory-journal_card-slot {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

#w-node-f309d1f2-e550-839f-91f3-170c067e7c5a-b7fbc9ef {
}
#w-node-_53a186d6-7640-cf15-22c2-f946db2ed90a-b7fbc9ef {
}
#w-node-_17268966-65dc-4652-2cd3-57b429b88c16-b7fbc9ef {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: stretch;
  justify-self: stretch;
}
#w-node-_0ce6539f-ddda-a538-301c-96dcca4d1017-b7fbc9ef {
}
#w-node-f7df0f53-be96-4d5a-62d8-e5c5f2d7678f-b7fbc9ef {
}
#w-node-_602791fe-7bcc-f357-cd71-f9c84111cc1f-b7fbc9ef {
  align-self: stretch;
  justify-self: stretch;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 2;
  grid-row-end: span 2;
}
#w-node-_1857250b-771d-c775-831e-845d04bb2d18-b7fbc9ef {
}
#w-node-_4a51b95a-903b-6833-6ab5-ec9ec8d9c73b-b7fbc9ef {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-b6ba9c62-701c-844b-d544-40dad5bf02f6-b7fbc9ef {
}
#w-node-_6093f9ba-07bc-13bf-4c76-a9af1545ec5b-b7fbc9ef {
}
#w-node-_2621c7ac-c9de-d2b4-6d40-62a962e5aced-b7fbc9ef {
  grid-row-start: span 2;
  grid-row-end: span 2;
  align-self: stretch;
  justify-self: stretch;
}
@media screen and (max-width: 991px) {
  #w-node-b6ba9c62-701c-844b-d544-40dad5bf02f6-b7fbc9ef {
  }
}