.form_field-wrapper {
  color: inherit;
}

.form_label {
  margin-bottom: 0.375rem;
  align-self: flex-start;
}

.input_label {
  position: relative;
  z-index: 1;

  margin-bottom: 0.5em;

  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.input_field {
  display: flex;
  height: auto;
  margin-bottom: 0px;
  padding: var(--_sizes---input--input-padding-vertical) var(--_sizes---input--input-padding-horizontal);
  justify-content: center;
  align-items: center;

  border: 1px solid var(--_colors---input--input-primary-border);
  border-radius: var(--_sizes---input--input-radius);

  background-color: transparent;
  background-image: none;

  box-shadow: none;

  transition: background-color 200ms cubic-bezier(.165, .84, .44, 1),border-color 200ms cubic-bezier(.165, .84, .44, 1);

  color: var(--_colors---text-color--text-primary);
  font-size: 1rem;
  line-height: 1.3;
}

.input_field:hover {
  border-color: var(--_colors---button--button-primary-bg);
  background-color: transparent;
  box-shadow: none;
}

.input_field:focus {
  border-color: var(--_colors---input--input-primary-border);
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.input_field::placeholder {
  color: var(--_colors---core-color-tint--neutral-inverse-a30);
}

.input_field.is-select {
  border-top-width: 0px;
  border-top-color: var(--_colors---text-color--text-primary);
  border-right-width: 0px;
  border-right-color: var(--_colors---text-color--text-primary);
  border-bottom-width: 0px;
  border-bottom-color: var(--_colors---text-color--text-primary);
  border-left-width: 0px;
  border-left-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);

  transition-property: border-color, color, background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease, ease, cubic-bezier(0.165, 0.84, 0.44, 1), ease;

  color: var(--_colors---text-color--text-primary);
  font-size: 1rem;

  appearance: none;
}

.input_field.is-select:hover {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);
}

.input_field.is-select:focus-visible {
  outline-color: var(--_colors---core-accent-color--accent-primary);
}

@media screen and (max-width: 479px) {
  .input_field.is-select {
    background-position: 96% 50%;
  }
}

.is-select {
  height: auto;
  margin-bottom: 0px;
  padding-top: var(--_sizes---input--input-padding-vertical);
  padding-right: var(--_sizes---input--input-padding-horizontal);
  padding-bottom: var(--_sizes---input--input-padding-vertical);
  padding-left: var(--_sizes---input--input-padding-horizontal);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--_colors---input--input-primary-border);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--_colors---input--input-primary-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--_colors---input--input-primary-border);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--_colors---input--input-primary-border);
  border-top-left-radius: var(--_sizes---input--input-radius);
  border-top-right-radius: var(--_sizes---input--input-radius);
  border-bottom-left-radius: var(--_sizes---input--input-radius);
  border-bottom-right-radius: var(--_sizes---input--input-radius);

  background-color: var(--_colors---input--input-primary-bg);
  background-image: none;
  background-position: 97% 50%;
  background-size: 14px;
  background-repeat: no-repeat;

  transition-property: background-color, border-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  color: var(--_colors---input--input-primary-text);
  font-size: 1rem;
  line-height: 1.3;

  appearance: none;
}

.is-select:hover {
  border-color: var(--_colors---input--input-primary-border-hover);
  background-color: var(--_colors---input--input-primary-bg-hover);
}

.is-select:focus {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select:focus-visible {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select::placeholder {
  color: var(--_colors---input--input-primary-text-placeholder);
}

@media screen and (max-width: 479px) {
  .is-select {
    background-position: 96% 50%;
  }
}

.input_field.is-select.on-inverse {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-inverse-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-inverse-primary);

  color: var(--_colors---text-color--text-inverse-primary);
}

.input_field.is-select.on-inverse:hover {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-inverse-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-inverse-primary);
}

.input_field.is-select.on-accent-primary {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-primary:hover {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-secondary {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-secondary:hover {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-tertiary {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-tertiary:hover {
  border-width: 0px;
  border-color: var(--_colors---text-color--text-primary);

  background-color: transparent;
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---text-color--text-primary);
}

.input_field.on-inverse {
  border-color: var(--_colors---input--input-inverse-border);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.input_field.on-inverse:hover {
  border-color: var(--_colors---input--input-inverse-border-hover);
  background-color: transparent;
  box-shadow: none;
}

.input_field.on-inverse:focus {
  border-color: var(--_colors---input--input-inverse-border);
  outline-color: var(--_colors---core-accent-color--accent-primary);
}

.input_field.on-inverse::placeholder {
  color: var(--_colors---input--input-inverse-text-placeholder);
}

.input_field.is-text-area {
  min-height: 7.5rem;
}

.input_field.is-inverse {
  min-height: 7.5rem;
  border-color: var(--_colors---input--input-inverse-border);
  background-color: var(--_colors---input--input-inverse-bg);
  color: var(--_colors---input--input-inverse-text);
}

.input_field.is-inverse:hover {
  border-color: var(--_colors---input--input-inverse-border-hover);
  background-color: var(--_colors---input--input-inverse-bg-hover);
}

.input_field.is-inverse::placeholder {
  color: var(--_colors---input--input-inverse-text-placeholder);
}

.input_field.on-accent-primary {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-accent-primary:hover {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  box-shadow: none;
}

.input_field.on-accent-secondary {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-accent-secondary:hover {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  box-shadow: none;
}

.input_field.on-accent-tertiary {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-accent-tertiary:hover {
  border-color: var(--_colors---text-color--text-primary);
  background-color: transparent;
  box-shadow: none;
}

.input_field.is-icon {
  padding: 1.5rem 1rem 1.5rem 3rem;
  align-self: center;
}

.input_field.is-icon::placeholder {
  color: var(--_colors---core-color-tint--neutral-inverse-a30);
}