.tag {
  display: inline-flex;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--_sizes---tag--tag-padding-horizontal);
  grid-row-gap: var(--_sizes---tag--tag-padding-horizontal);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: transparent;
  border-top-left-radius: var(--_sizes---tag--tag-radius);
  border-top-right-radius: var(--_sizes---tag--tag-radius);
  border-bottom-left-radius: var(--_sizes---tag--tag-radius);
  border-bottom-right-radius: var(--_sizes---tag--tag-radius);

  transition-property: border-color, color, background-color;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease;

  font-family: 'Noto Serif Display';
  color: var(--_apps---colors--primary-foreground);
  font-size: var(--_typography---tag--tag-size);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: lowercase;

  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag:where(.w-variant-0992d1c2-1e85-66c6-5fc4-41ffecbf5acb) {
  padding-right: 0.25em;
  padding-left: 0.25em;

  border-width: 3px;
  border-color: var(--_apps---colors--primary);

  background-color: var(--_apps---colors--primary);

  font-weight: 600;
}

.tag:where(.w-variant-bd0e2718-84b0-337a-1973-f03ea3d8af42) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-tertiary);
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.tag:where(.w-variant-c616048c-98d3-23b9-0c48-859fbbd595b8) {
  border-top-width: 3px;
  border-top-color: var(--_apps---colors--primary);
  border-right-width: 3px;
  border-right-color: var(--_apps---colors--primary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_apps---colors--primary);
  border-left-width: 3px;
  border-left-color: var(--_apps---colors--primary);

  color: var(--_apps---colors--primary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-27b181e2-8ffe-06c3-0497-dd1e9bffc8a7) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);
  font-weight: 600;

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-c41e09ae-0036-41a5-e361-e15c35a98f43) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary);

  color: var(--_colors---core-accent-color--accent-secondary);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-1c32fe8d-3ed1-8447-a7ac-af0c67c57ff2) {
  border-width: 3px;
  border-color: var(--_colors---core-accent-color--accent-secondary);
  background-color: var(--_colors---core-accent-color--accent-secondary);
}

.tag:where(.w-variant-72edd273-7891-7857-18cf-7aeb113f4abc) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary-hover);

  color: var(--_colors---core-accent-color--accent-tertiary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-5a0229ea-6ac7-ada3-1053-85d92cc5888b) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-secondary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-secondary-hover);

  color: var(--_colors---core-accent-color--accent-secondary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.tag:where(.w-variant-eb0b7b5f-742b-2299-54bc-7fccfcd050f0) {
  border-top-width: 3px;
  border-top-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-right-width: 3px;
  border-right-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-bottom-width: 3px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary-hover);
  border-left-width: 3px;
  border-left-color: var(--_colors---core-accent-color--accent-primary-hover);

  color: var(--_colors---core-accent-color--accent-primary-hover);

  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

@media screen and (max-width: 991px) {
  .tag {
    width: 100%;
  }
}

.tag.is-inverse {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a80);
  font-family: var(--_typography---button--button-font);
  color: var(--_colors---core-neutral-color--neutral-primary);
  font-weight: 700;
  text-transform: lowercase;
}

.tag.is-accent-primary {
  border-top-width: 2px;
  border-top-color: var(--_colors---core-accent-color--accent-primary);
  border-right-width: 2px;
  border-right-color: var(--_colors---core-accent-color--accent-primary);
  border-bottom-width: 2px;
  border-bottom-color: var(--_colors---core-accent-color--accent-primary);
  border-left-width: 2px;
  border-left-color: var(--_colors---core-accent-color--accent-primary);

  color: var(--_colors---core-accent-color--accent-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.tag.on-accent-secondary {
  color: var(--_colors---text-color--text-on-accent-secondary);
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.tag.on-accent-tertiary {
  color: var(--_colors---text-color--text-on-accent-tertiary);
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.margin-bottom_xsmall {
  margin-bottom: var(--_sizes---spacing--1x);
}

.tag.is-green {
  padding: 0.25em 0.75em;
  background-color: #29708d;
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.tag.is-secondary {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;

  border-top-style: none;
  border-top-width: 0px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-style: none;
  border-right-width: 0px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  transition-duration: 400ms, 400ms, 400ms;

  color: inherit;

  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag.is-secondary:where(.w-variant-ee45998d-5a43-c57c-c7d6-4808e7a72733) {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag.is-secondary:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.tag.is-secondary:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.tag.is-secondary:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag.is-secondary:hover:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag.is-secondary:hover:where(.w-variant-a5b066d0-eea5-807d-c902-fb41893ff2ea) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tag.is-secondary:active:where(.w-variant-528938e1-f8f6-e1bb-79b8-a5a9da37d75a) {
  filter: none;
}

@media screen and (max-width: 767px) {
  .tag.is-secondary {
    background-color: transparent;
    transition-duration: 400ms, 400ms, 400ms;
    color: inherit;
  }
}

@media screen and (max-width: 767px) {
  .tag.is-secondary:hover {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
  }
}

.tag.is-primary {
  background-color: var(--_colors---core-accent-color--accent-tertiary);
}

.tag.is-accent-terrtiary {
  border-top-width: 1px;
  border-top-color: var(--_colors---core-accent-color--accent-tertiary);
  border-right-width: 1px;
  border-right-color: var(--_colors---core-accent-color--accent-tertiary);
  border-bottom-width: 1px;
  border-bottom-color: var(--_colors---core-accent-color--accent-tertiary);
  border-left-width: 1px;
  border-left-color: var(--_colors---core-accent-color--accent-tertiary);

  color: var(--_colors---core-accent-color--accent-tertiary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.tag.is-accent-primary-dark {
  border-color: var(--_colors---core-accent-color--accent-secondary);
  color: var(--_colors---core-accent-color--accent-secondary);
}